&-title {
    text-transform: uppercase;
    font-size: 18px;
    font-family: Exo;
    font-weight: 700;
    margin-bottom: 15px;
    a {
        color: white;
    }

    @media (max-width: 767px) {


    }
}