&-button {
    margin-top:10px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 22px;
        background-color: white;
        border-radius: 5px;
        margin-right: 10px;
        svg {
            color: #000;
            font-size: 26px;
            text-align: center;

        }
    }

    @media (max-width: 767px) {


    }
}