.custom-page-header {
    background-color: $red-dark;
    padding: 50px;
    width: 100%;
    h1 {
        font-family: 'Exo';
        font-weight: 900;
        text-transform: uppercase;
        color: #FFF;
        text-align: center;
        font-size: 32px;
    }
}

.custom-page-content {
    font-family: 'Inter';
    h2 {
        display: none;
    }
    .col-md-12:first-child {
        display: none;
    }
    .col-12:last-child {
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
    p {
        text-align: justify;
        font-size: 16px;
        border: 0;
        line-height: 22px;
        margin: 15px 0 0;
        width: auto;
    }
}
.login .board fieldset > label {
    font-size: 0 !important;
    &::before {
        content: "Digite seu e-mail ou CPF/CNPJ para se autenticar" !important;
        font-size: 14px !important;
        display: block !important;
    }
}

@media (max-width: 767px) {

    .custom-page-content {
        .description {
            display: block;

            img {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}