
@mixin font($txtColor, $weight, $size, $height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $txtColor;
}

@mixin for-phone-only {
    @media (max-width: 767px) { @content; }
}
  
@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199px) { @content; }
}
  
@mixin for-desktop-only {
    @media (min-width: 1200px) { @content; }
}

@mixin scrolllayout {
    &::-webkit-scrollbar-track {
        background-color: #ffffff;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(196, 196, 196);
        border-radius: 4px;
    }
}

