$gray-darker: #565961;
$gray-dark: #656871;
$gray-medium: #8D8D8D;
$gray-light: #D9D9D9;
$gray-lighter: #F2F2F2;

$white: #FFF;
$orange: #F98607;




/** -------------------- **/
$red: #991915;
$red-dark: #7B0400;
$white: #f6f6f6;

$black:#171F35;
$green: #039800;
/** -------------------- **/


/* ------------   */
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

/**/
$version: 'v1';