&-result {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #6C7481;

    b {
        font-weight: bold;
    }
    
    @media(max-width: 800px) {
        display: none;
    }
}