&__cars {
    margin-top: 60px;
    background-color: $gray-lighter;
    padding: 10px 60px 30px;
    border-radius: 16px;
    border-bottom: 4px solid $orange;
    @include for-phone-only {
        padding: 15px;
    }
        

    &-title {
        display: block;
        @include font($gray-dark, 700, 32px, 100%);
        text-align: center;
        margin: 15px 0;
    }
    &-slick {
        
        .slick-next {
            right: -50px !important;
            @include for-phone-only {
                right: -10px !important;
            }
        }
        .slick-prev {
            left: -50px !important;
            @include for-phone-only {
                left: -10px !important;
            }
        }
        .slick-arrow {
            @include for-desktop-only {
                background: none !important;
            }
            @include for-phone-only {
                width: 35px !important;
                height: 35px !important;
            }
        }

        .slick-slide {
            margin: 0 10px;
        }
        .slick-list {
            margin: 0 -10px;
        }
        .item {
            background-color: #FFF;
            padding: 10px;
            border-radius: 6px;
            margin: 0 10px;
            @include for-phone-only {
                margin: 0;
            }
            a {
                display: block;
                text-decoration: none;
            }
            &__thumb {
                border: 2px solid $gray-lighter;
                border-radius: 8px;
                display: block;
                margin: 15px;
                @include for-phone-only {
                    border: 1px solid $gray-lighter;
                }
                img {
                    width: 100%;
                }
            }
            &__title {
                @include font($gray-dark, 400, 16px, 100%);
                text-align: center;
                text-decoration: none;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}