&-available {
    h2 {
        font-size: 22px;
        font-weight: bold;

        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        color: #6C6C6C;
        margin-bottom: 10px;
    }

}