 &-carrousel {
     margin-top: 25px;
     width: 100%;
     border-radius: 6px;
     background-color: white;

     .item {
         &-header {
             border-bottom: 1px solid $gray-light;
             background-color: white;

             h3 {
                 padding: 10px;
                 text-decoration: none;

                 button {
                     outline: none;

                     &:focus {
                         border: none;
                     }

                     &:not(.collapsed) {
                         i {
                             transform: rotate(180deg);
                         }
                     }

                     width: 100%;
                     border: none;
                     background: none;
                     text-align: left;
                     text-decoration: none;

                     span {
                         color: $black;
                         font-weight: 500;
                         font-size: 15px;
                         line-height: 22px;
                         letter-spacing: -0.1px;
                         text-decoration: none;
                     }

                     svg {
                         display: block;
                         font-size: 22px;
                         float: right;
                         color: $gray-dark;
                     }
                 }
             }
         }

         &-body {
             padding: 10px;

             &-search {
                 display: flex;

                 input {
                     padding: 0 10px;
                     display: block;
                     width: 84%;
                     font-size: 15px;
                     line-height: 22px;
                     font-weight: normal;
                     color: $gray-dark;
                     border: 1px solid $gray-light;
                     border-radius: 5px 0 0 5px;
                     border-right: none;
                 }

                 button {
                     padding: 5px;
                     width: 60px;
                     justify-content: center;
                     cursor: pointer;
                     background-color: #FFF;
                     display: flex;
                     font-size: 15px;
                     line-height: 22px;
                     font-weight: normal;
                     color: $red;
                     border: 1px solid $gray-light;
                     border-radius: 0 5px 5px 0;

                     i {
                         font-size: 18px;
                         padding: 10px;
                     }
                 }
             }

             &-options {
                 margin-top: 15px;
                 max-height: 400px;
                 overflow-y: scroll;

                 label {
                     display: flex;
                     align-items: center;
                     justify-content: space-between;
                     width: 100%;
                     border-radius: 6px;
                     border: 1px solid $gray-light;
                     padding: 5px 10px;
                     color: #6C7481;

                     input[type="checkbox"] {
                         display: none;
                     }

                     span.check {
                         display: inline-block;
                         width: 20px;
                         height: 20px;
                         cursor: pointer;
                         border: 1px solid #E4E4E4;
                         border-radius: 4px;
                         background-color: #FFFFFF;
                     }

                     input[type="checkbox"]:checked+span.check {
                         background-image: url('../img/check.svg');
                         background-color: $red;
                         background-repeat: no-repeat;
                         background-size: 60%;
                         background-position: center center;
                         border: 1px solid $red;
                     }
                 }
             }

             &-bt {
                 display: block;
                 width: 80%;
                 margin: 15px auto;
                 font-size: 15px;
                 font-weight: bold;
                 background-color: #FFF;
                 line-height: 22px;
                 color: #000;
                 text-align: center;
                 letter-spacing: -0.1px;
                 border: 2px solid #6C7481;
                 border-radius: 5px;
             }

             .range-values {
                 font-weight: 500;
                 color: #000;
                 font-size: 10px;
                 margin-top: 20px;
                 margin-bottom: 14px;
             }

             .slider-range {
                 background: #F1F8FF;
                 border-radius: 2px;
                 border: none;
                 height: 5px;
                 margin: 0 10px;

                 .ui-slider-range {
                     background: $red-dark;
                     border: none;
                     margin-left: 0;
                 }

                 .ui-slider-handle {
                     border: 1px solid rgb(228, 228, 228);
                     box-shadow: rgba(16, 0, 0, 0.1) 0px 2px 4px;
                     width: 24px;
                     height: 24px;
                     cursor: pointer;
                     background: #FFF;
                     border-radius: 100px;
                     outline: none;
                     top: -10px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                 }
             }
         }
     }

     .item.preco {
         .item-body-options {
             overflow-y: visible;
         }
     }

     @media (max-width: 800px) {
        overflow: hidden;
        border: 1px solid $gray-dark;
    
        .item {
            padding: 5px;
            &-body {
                &-options {
                    label {
                        input[type="checkbox"] {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
     }
 }