.box-form {
    width: 100%;
    justify-content: space-between;
    &-name, &-email  {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.2px;
        color: #171F35;
        border: 2px solid #E4E4E4;
        border-radius: 5px;
    }
    &-name {
        width: 32%;
        padding: 8px 10px;
        outline: none;
    }
    &-email {
        width: 42%;
        padding: 8px 10px;
        outline: none;
    }
    &-submit {
        width: 22%;
        border: 2px solid $gray-dark;
        border-radius: 5px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.1px;
        color: #171F35;
        border: 2px solid #E4E4E4;			
    }

    @media (max-width: 767px) {
        width: 100%;
        align-items: center;
        flex-direction: column;
        input[type=text], input[type=email] {
            width: 100%;
            margin-top: 8px;
            
        }
        &-name {
            width: 32%;
            padding: 8px 10px;
            
        }
        &-email {
            width: 42%;
            padding: 8px 10px;
        }
        &-submit {
            margin-top: 15px;
            width: 100px;
            padding: 10px 0;
            border-radius: 10px;
            border: 1px solid $gray-dark;

        }
    }
}


